<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form id='addMovie' name='addmovie' method='post' action='/addmovietodb'>
      <span>Movie title</span>
      <span>&nbsp;</span>
      <input id='movieTitle' type='text' placeholder='Movie title' name='title'> 
      <br>
      <br>
      <span>Inventory</span>
      <span>&nbsp;</span>
      <input id='titleInventory' type='text' placeholder='0-100' name='inventory'> 
      <br>
      <br>
      <button id='submitInventory' type='submit' > Sbumit</button>
    </form>
  </body>
</html>
