<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Skiers - <%= userName%></title>
  <link rel='stylesheet' href='/stylesheets/admin.css' />
  <link rel='shortcut icon' href='/images/favicon.ico' />

</head>

<body>
  <div id='mainPage' class='mainPage'>

    <div class='navColumn'>
      <div class='navLogo flex-row'>
        <div class='logoImg'>
          <svg height="100%" viewBox="0 0 512 512" width="100%" fill="rgb(255, 255, 255)" xmlns="http://www.w3.org/2000/svg">
            <path d="m338.5 178h-15v257.734375h-13.828125v-257.734375h-15v32.5h-76.75v15h17.191406l-29.691406 45.277344v-92.777344h-15v257.734375h-13.828125v-257.734375h-15v257.734375h-29.578125v38.289063h43.992187v37.976562h15v-37.976562h43.992188v-38.289063h-29.578125v-54.617187h76.75v-15h-17.285156l29.785156-45.421876v115.039063h-29.578125v38.289063h43.992188v37.976562h15v-37.976562h43.992187v-38.289063h-29.578125zm-118.5 272.734375v8.289063h-72.980469v-8.289063zm33.050781-225.234375h24.0625l-30.164062 46h-24.0625zm-6.101562 140.617188h-24.0625l30.164062-46h24.0625zm-29.027344-61v15h17.191406l-29.691406 45.277343v-78.894531h76.75v-15h-17.285156l29.785156-45.421875v79.039063zm135.15625 145.617187v8.289063h-72.984375v-8.289063zm0 0" />
            <path d="m230.257812 136.925781-12.09375-12.089843h-4.40625v-124.835938h-60.496093v124.832031h-4.410157l-12.09375 12.09375v28.574219h93.5zm-61.996093-29.09375h17.996093v-15h-17.996093v-15.332031h17.996093v-15h-17.996093v-15.5h17.996093v-15h-17.996093v-17h30.496093v109.832031h-30.496093zm46.996093 42.667969h-63.5v-7.359375l3.308594-3.308594h56.886719l3.304687 3.308594zm0 0" />
            <path d="m363.335938 136.925781-12.09375-12.089843h-4.410157v-124.835938h-60.492187v124.832031h-4.410156l-12.09375 12.09375v28.574219h93.5zm-61.996094-29.09375h17.992187v-15h-17.992187v-15.332031h17.992187v-15h-17.992187v-15.5h17.992187v-15h-17.992187v-17h30.492187v109.832031h-30.492187zm46.996094 42.667969h-63.5v-7.359375l3.308593-3.304687h56.886719l3.304688 3.304687zm0 0" />
            <path d="m38 286.5h111.09375v-15h-111.09375c-12.683594 0-23-10.316406-23-23s10.316406-23 23-23h111.09375v-15h-111.09375c-20.953125 0-38 17.046875-38 38s17.046875 38 38 38zm0 0" />
            <path d="m351 225.5h123c12.683594 0 23 10.316406 23 23s-10.316406 23-23 23h-123v15h123c20.953125 0 38-17.046875 38-38s-17.046875-38-38-38h-123zm0 0" />
            <path d="m474 305.117188h-123v15h123c12.683594 0 23 10.320312 23 23 0 12.683593-10.316406 23-23 23h-123v15h123c20.953125 0 38-17.046876 38-38 0-20.953126-17.046875-38-38-38zm0 0" />
            <path d="m149.09375 366.117188h-111.09375c-12.683594 0-23-10.316407-23-23 0-12.679688 10.316406-23 23-23h111.09375v-15h-111.09375c-20.953125 0-38 17.046874-38 38 0 20.953124 17.046875 38 38 38h111.09375zm0 0" />
            <path d="m474 250.5h-73v-15h73zm-83 0h-15v-15h15zm-25 0h-15v-15h15zm0 0" />
            <path d="m474 345.117188h-73v-15h73zm-83 0h-15v-15h15zm-25 0h-15v-15h15zm0 0" />
          </svg>
        </div>
        <h1>Skiers</h1>
      </div>
      <div id='userNameTitle' class='userNameTitle'>
        <h2 id='userName' class='userName'><%= userName%></h2>
      </div>
      <div>
        <div class='navButtons'>
          <h2>BI Queries</h2>
          <ul>
            <li><a type='button' method='get' action='/app' onclick="includeThisHTML('/app',false,'Largest Inventory:')">
                Largest Inventory </a></li>
            <li><a type='button' method='get' action='/topTenItems' onclick="includeThisHTML('/topTenItems',false,'Most Popular items:')">
                Most Popular items </a></li>
            <li><a type='button' method='get' action='topRentedItem' onclick="includeThisHTML('/topRentedItem',false,'Most Popular Item:')">
                Most Popular Item </a></li>
            <li><a type='button' method='get' action='/topTenUsers' onclick="includeThisHTML('/topTenUsers',false,'Most Active Users:')">
                Most Active Users </a></li>
            <li><a type='button' method='get' action='/mostActiveUser' onclick="includeThisHTML('/mostActiveUser',false,'Most Active User:')">
                Most Active User </a></li>


            <li><a type="button" class='menuButtonText' onclick="themeToggle('themeToggle')">
                <div id="themeToggle" class="menuBox5">Dark-Side</div>
              </a></li>
            <li><a type="button" class='menuButtonText' method='get' action='/logout' href='/logout'>Log-Out</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class='mainContent'>

      <div class="navMenu">
        <div class='flex-space'>
          <div class="menuLogo">
            <div class="menuContainer" onclick="menuX(this)">
              <div class="menuBar1"></div>
              <div class="menuBar2"></div>
              <div class="menuBar3"></div>
            </div>
          </div>
          <h2 class='userNameMenu'><%= userName %></h2>
        </div>
      </div>

      <div id='logoBackground' class='resultsPanel'>

        <div class='inventoryTabBox' >
          <div id='navTab' class='navTab'>
            <a type='button' class='tabNavButton' onclick="tabToggle(0, 'inventoryTab', event)">New Customer</a>
            <a type='button' class='tabNavButton' onclick="tabToggle(1, 'inventoryTab', event)">Rent</a>
            <a type='button' class='tabNavButton' onclick="tabToggle(2, 'inventoryTab', event)">Return</a>
            <a type='button' class='tabNavButton' onclick="tabToggle(3, 'inventoryTab', event)">Inventory</a>
          </div>
          <div id='contentTab' class='contentTab'>
            <div id='inventoryTabA' class='form tabBox inventoryTab flex-show'>
              <h2>New Customer</h2>
              <form id='submitNewCustomer' name='submitNewCustomer' action='/submitNewCustomer' onsubmit='return checkForm(id, 1)'>
                <input id='itemTitle' type='text' placeholder='Customer Name' name='name' required>
                <input id='userEmail' type='text' placeholder='Customer Email' name='email' required>
                <input type='text' placeholder='Phone Number' name='phone' required>
                <button id='submitInventory' type='submit' class='submitButton '> Submit</button>
                <span class='error'></span>
              </form>
            </div>
            <div id='inventoryTabB' class='form tabBox inventoryTab hidden'>
              <h2>Rent</h2>
              <form id='rent' name='rent' action='/submitrent' onsubmit='return checkForm(id, 1)'>
                <input id='userEmailRentInput' type='text' placeholder='Customer Email' autocomplete="0" name='email'
                  list='userEmailRentDataList' onchange="dataListReq('itemTitle')" required>
                <datalist id='userEmailRentDataList'></datalist>
                <input id='itemTitleInput' type='text' placeholder='Item Name' autocomplete="0" name='title' list='itemTitleDataList'
                  required>
                <datalist id='itemTitleDataList'></datalist>
                <input id='titleInventory' type='number' placeholder='Number of Pairs' name='inventory' required>
                <input id='days' type='number' placeholder='Number of Days' name='days' required>
                <button id='submitInventory' type='submit' class='submitButton '> Submit</button>
                <span class='error'></span>
              </form>
            </div>

            <div id='inventoryTabC' class='form tabBox inventoryTab hidden'>
              <h2>Return</h2>
              <form id='return' name='return' action='/submitreturn' onsubmit='return checkForm(id,2)'>
                <input id='userEmailReturnInput' type='text' placeholder='Customer Email' autocomplete="0" name='email'
                  list='userEmailReturnDataList' onchange="dataListReqEmail('userEmailReturnListForDropDown', value)"
                  required>
                <datalist id='userEmailReturnDataList'></datalist>
                <input id='userEmailReturnListForDropDownInput' type='text' placeholder='Item Name' autocomplete="0"
                  name='title' list='userEmailReturnListForDropDownDataList' required>
                <datalist id='userEmailReturnListForDropDownDataList'></datalist>
                <input id='titleInventory' type='number' placeholder='Number of Pairs' autocomplete="0" name='inventory'
                  required>
                <button id='submitInventory' type='submit' class='submitButton'> Submit</button>
                <span class='error'></span>
              </form>
            </div>

            <div id='inventoryTabD' class='form tabBox inventoryTab hidden'>
              <h2>Add / Remove inventory</h2>
              <form id='addInventory' name='addInventory' action='/additemtodb' onsubmit='return checkForm(id,3)'>
                <input id='itemTitleReturnInput' type='text' placeholder='Item Name' autocomplete="0" name='title' list='itemTitleReturnDataList'
                  required>
                <datalist id='itemTitleReturnDataList'></datalist>
                <input id='titleInventory' type='number' placeholder='Number of Pairs' name='inventory' onchange="dataListReq('itemTitleReturn')"
                  required>
                <button id='submitInventory' type='submit' class='submitButton'> Submit</button>
                <span class='error'></span>
              </form>
            </div>
          </div>
        </div>

        <div id='queryResults' class='queryResults'>
          <div id='topTen' class='topTen'>
            <span id='error'></span>
            <h2 class='title' id='title'></h2>
            <h3 class='subTitle' id='status'>
            </h3>
            <ul id='queryUl' class='flex-row'>
              <li>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div id='chatLogoButton' class='chatLogoButton'>
        <a type='button' onclick="minimizeToggle('dot')" ondblclick="minimizeToggle('max')" ondragend="minimizeToggle('max')">
          <?xml version="1.0"?><svg height="100%" version="1.1" viewBox="0 0 20 20" width="100%" xmlns="http://www.w3.org/2000/svg">
            <g fill="none" fill-rule="evenodd" stroke="none" stroke-width="1">
              <g fill="#000000" class="chatLogoButtonDot" transform="translate(-42.000000, -41.000000)">
                <g transform="translate(42.000000, 41.000000)">
                  <path d="M18,0 L2,0 C0.9,0 0,0.9 0,2 L0,20 L4,16 L18,16 C19.1,16 20,15.1 20,14 L20,2 C20,0.9 19.1,0 18,0 L18,0 Z M4,7 L16,7 L16,9 L4,9 L4,7 L4,7 Z M12,12 L4,12 L4,10 L12,10 L12,12 L12,12 Z M16,6 L4,6 L4,4 L16,4 L16,6 L16,6 Z" />
                </g>
              </g>
            </g>
          </svg>
        </a>
      </div>

      <div id='chatLiveBox' class='chatLiveBox'>
        <div id='chatFlex' class='chatFlex'>
          <div id='minimize' class='minimize'>
            <div id='chatButtons'  class='chatButtons'>
              <a id='chatButtonToggle' type='button' onclick="minimizeToggle('mini')" class='chatMinimize'>_</a>
            </div>
            <div class='chatMessages'>
              <div class='chatUsersOnline'>
                <h3>Online:</h3>
                <ul id='chatUsersUl' class='chatUsersUl'>
                  <li></li>
                </ul>
              </div>
              <div id='chatMessagesBox' class='chatMessagesBox'>
                <h3>Store Chat:</h3>
                <ul id='chatUl' class='chatUl' >
                  <li></li>
                </ul>
              </div>
            </div>
          </div>
          <div id='chatInputDiv' class='chatInputDiv'>
            <input class='chatInputTextBox' id='chatInput' type='text' placeholder='Type a message' spellcheck='true'
              required>
            <a id='chatSend' class='chatSendBox' type='button'>
              <?xml version="1.0" encoding="iso-8859-1" ?>
              <!-- Generator: Adobe Illustrator 16.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
              <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
              <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" 
                x="0px" y="0px" class='chatSend' width="535.5px" height="535.5px" viewBox="0 0 535.5 535.5" style="enable-background:new 0 0 535.5 535.5;"
                xml:space="preserve">
                <g>
                  <g>
                    <polygon points="0,497.25 535.5,267.75 0,38.25 0,216.75 382.5,267.75 0,318.75" />
                  </g>
                </g>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/app-bundel.js"></script>

</body>
</html>