<!DOCTYPE html>
<html>

<head>
  <link rel='stylesheet' href='/stylesheets/login.css' />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='shortcut icon' href='/images/favicon.ico' />
  <title>Skiers | Ski Rental Shop | Admin panel</title>

</head>

<body>
  <div id='loginPage'>
    <div id='loginHeadlin'>
      <div class='logoStrip'>

        <h1>Skiers</h1>
        <h2>Admin panel login</h2><br>

        <div class='logoImg'>
          <svg height="100%" viewBox="0 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg">
            <path d="m338.5 178h-15v257.734375h-13.828125v-257.734375h-15v32.5h-76.75v15h17.191406l-29.691406 45.277344v-92.777344h-15v257.734375h-13.828125v-257.734375h-15v257.734375h-29.578125v38.289063h43.992187v37.976562h15v-37.976562h43.992188v-38.289063h-29.578125v-54.617187h76.75v-15h-17.285156l29.785156-45.421876v115.039063h-29.578125v38.289063h43.992188v37.976562h15v-37.976562h43.992187v-38.289063h-29.578125zm-118.5 272.734375v8.289063h-72.980469v-8.289063zm33.050781-225.234375h24.0625l-30.164062 46h-24.0625zm-6.101562 140.617188h-24.0625l30.164062-46h24.0625zm-29.027344-61v15h17.191406l-29.691406 45.277343v-78.894531h76.75v-15h-17.285156l29.785156-45.421875v79.039063zm135.15625 145.617187v8.289063h-72.984375v-8.289063zm0 0" />
            <path d="m230.257812 136.925781-12.09375-12.089843h-4.40625v-124.835938h-60.496093v124.832031h-4.410157l-12.09375 12.09375v28.574219h93.5zm-61.996093-29.09375h17.996093v-15h-17.996093v-15.332031h17.996093v-15h-17.996093v-15.5h17.996093v-15h-17.996093v-17h30.496093v109.832031h-30.496093zm46.996093 42.667969h-63.5v-7.359375l3.308594-3.308594h56.886719l3.304687 3.308594zm0 0" />
            <path d="m363.335938 136.925781-12.09375-12.089843h-4.410157v-124.835938h-60.492187v124.832031h-4.410156l-12.09375 12.09375v28.574219h93.5zm-61.996094-29.09375h17.992187v-15h-17.992187v-15.332031h17.992187v-15h-17.992187v-15.5h17.992187v-15h-17.992187v-17h30.492187v109.832031h-30.492187zm46.996094 42.667969h-63.5v-7.359375l3.308593-3.304687h56.886719l3.304688 3.304687zm0 0" />
            <path d="m38 286.5h111.09375v-15h-111.09375c-12.683594 0-23-10.316406-23-23s10.316406-23 23-23h111.09375v-15h-111.09375c-20.953125 0-38 17.046875-38 38s17.046875 38 38 38zm0 0" />
            <path d="m351 225.5h123c12.683594 0 23 10.316406 23 23s-10.316406 23-23 23h-123v15h123c20.953125 0 38-17.046875 38-38s-17.046875-38-38-38h-123zm0 0" />
            <path d="m474 305.117188h-123v15h123c12.683594 0 23 10.320312 23 23 0 12.683593-10.316406 23-23 23h-123v15h123c20.953125 0 38-17.046876 38-38 0-20.953126-17.046875-38-38-38zm0 0" />
            <path d="m149.09375 366.117188h-111.09375c-12.683594 0-23-10.316407-23-23 0-12.679688 10.316406-23 23-23h111.09375v-15h-111.09375c-20.953125 0-38 17.046874-38 38 0 20.953124 17.046875 38 38 38h111.09375zm0 0" />
            <path d="m474 250.5h-73v-15h73zm-83 0h-15v-15h15zm-25 0h-15v-15h15zm0 0" />
            <path d="m474 345.117188h-73v-15h73zm-83 0h-15v-15h15zm-25 0h-15v-15h15zm0 0" />
          </svg>
        </div>
      </div>
    </div>
    <div id='loginCenterBox'>
      <div id='loginTabA' class='tabBox'>
        <h2>Please Login</h2>
        <form id='singIn' method='post' action='/user' onsubmit='return checkForm(id, 0)'>
          <input id='userEmail' type='email' placeholder='Email' name='email' required>
          <input id='userPassword' type='password' placeholder='Password' name='password' required>
          <div class='stripBox'>
            <button class='loginButton' id='submitUser' type='submit'> Sbumit</button>
            <a type='button' onclick="loginToggle(0)" id='newUserButton'>New Account</a>
          </div>
        </form>
      </div>
      <div id='loginTabB' class='tabBox'>
        <h2>New User</h2>
        <form id='addUser' method='post' action='/adduser' onsubmit='return checkForm(id, 1)'>
          <input id='invite' type='password' placeholder='Invite Code' name='invite' required>
          <input id='userName' type='text' placeholder='User name' name='name' required>
          <input id='newUserEmail' type='email' placeholder='Valid email' name='email' required>
          <input id='newUserPassword' type='password' placeholder='Strong Password' name='password' required>
          <div class='stripBox'>
            <button class='loginButton' id='submitNewUser' type='submit'> Sbumit</button>
            <a type='button' onclick="loginToggle(1)" id='newUserButton'>Registerd User</a>
          </div>
        </form>
      </div>
    </div>
    <span id='error'>
      <span class='errorName'></span>
      <span class='errorEmail'></span>
      <span class='errorPassword'></span>
    </span>

    <div class='filer3'>
      <span></span>
    </div>
  </div>

  <script>
    function clearPath(path, x) {
      if (window.location.pathname === path) {
        window.location.pathname = '/';
        for (i = 0; i < x; i++) {
          history.pushState("", "", "/");
        };
      }
      if (window.location.search) {
        history.pushState("", "", "/");
      }
    };
    clearPath('/logout', 30);

    function loginToggle(b) {
      let loginTabA = document.getElementById('loginTabA');
      let loginTabB = document.getElementById('loginTabB');
      if (b === 1) {
        loginTabA.style.display = 'flex';
        loginTabB.style.display = 'none';
      } else {
        loginTabA.style.display = 'none';
        loginTabB.style.display = 'flex';
      }
    };

    function checkForm(id, nextNum) {
      event.preventDefault();
      let formId = document.getElementById(id);
      let formDataNode = formId.querySelectorAll('input');
      let formAction = formId.action;
      let emailTest = formId.querySelector('input[name="email"]');
      let passwordTest = formId.querySelector('input[name="password"]');
      let nameTest = formId.querySelector('input[name="name"]');

      let test = 0

      if (emailTest != undefined) {
        let re =
          /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        let res = re.test(String(emailTest.value).toLowerCase());
        if (!res) {
          document.querySelector('.errorEmail').innerHTML = 'Sorry but you can\'t use this email, try a real one';
          test++;
        }
      };

      if (passwordTest != undefined) {
        let re =
          /^(?=.*[0-9])(?=.*[a-z])(?=.*[A-Z])(?=\S+$).{5,}$/;
        let res = re.test(String(passwordTest.value));
        if (!res) {
          document.querySelector('.errorPassword').innerHTML =
            'The Password is at least 5 character long + upper cases + lower cases + digits ';
          test++;
        }
      };
      if (nameTest != undefined) {
        let re =
          /^[\W \D \S ]{3,100}$/;
        let res = re.test(String(nameTest.value));
        if (!res) {
          formId.querySelector('.error').innerHTML =
            'The customer name must be at least 3 character long ';
          test++;
        }
      };
      if (test > 0) {
        test = 0;
        return false;
      } else {
        postForm(formAction, formDataNode, id, nextNum);
      }
    };

    function contentToView(json, nextNum) {
      let coment = document.getElementById('error')
      obj = JSON.parse(json);
      if (obj.err) {
        coment.innerText = obj.err;
      } else {
        coment.innerText = "Your login attempt was not successful. Please try again.";
      }
    };

    function postForm(file, formDataNode, id, nextNum) {

      let i, pagePath, elmnt, xhttp, formData;
      formData = new FormData();
      pagePath = file;
      for (i in formDataNode) {
        formData.append(formDataNode[i].name, formDataNode[i].value);
      };
      xhttp = new window.XMLHttpRequest();
      xhttp.onreadystatechange = function () {
        if (this.readyState == 4) {
          if (this.status == 200) {
            if (this.response.startsWith("<!DOCTYPE html>")) {
              document.open();
              document.write(this.responseText);
              pagePath = '?' + id;
              history.pushState({
                data: pagePath
              }, {
                title: pagePath
              }, "");
              document.close();
            } else {
              contentToView(this.responseText, nextNum);
            }
          }
          if (this.status == 404) {
            contentToView({
              "err": 'Help me, Obi-Wan Kenobi. You’re my only hope. The server turned to the dark side',
            }, nextNum);
          }
        }
      }
      xhttp.open('POST', pagePath, true);
      xhttp.send(formData);
    };
  </script>
</body>

</html>