<!DOCTYPE html>
<html>
  <head>
    <title>Movies list</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='shortcut icon' href='/images/favicon.ico'/>
  </head>
  <body>
    <main>
      <nav>
        <div class='dropdown toggle'>
          <input id='t1' type='checkbox' >
          <label for='t1'>BI Querys </label>
          <ul>
            <li><a method='get' action='/movies' href='/movies'>Movies In Stock </a></li>
            <li><a method='get' action='/topTenMovies' href='/topTenMovies'>Top Ten Movies </a></li>
            <li><a method='get' action='/topTenUsers' href='/topTenUsers'>Top Ten Users </a></li>
            <li><a method='get' action='/mostActiveUser'href='/mostActiveUser' >Most Active User </a></li>
            <li><a method='get' action='/topRentedMovie'href='/topRentedMovie' >Top Rented Movie </a></li>
          </ul>

        </div>
      </nav>
      <div class='querysResults'>
          <div class='topten'>
        <h1><%= title %></h1>
        <h3><%= status %></h3>
        <ul>
        <% for( var index in moviesList ){  %>
        <li>  <%= moviesList[index]%> </li>
        <% } %>
        </ul>
      </div>
        
      </div> 
      <section>
    
    <div class='form'>
    <h1>Rent a movie</h1>
    <form id='rentMovie' name='rentmovie' method='post' action='/submitrent'>
      <span>Movie title</span>
      <span>&nbsp;</span>
      <input id='movieTitle' type='text' placeholder='Movie title' name='title'> 
      <br>
      <br>
      <span>Inventory</span>
      <span>&nbsp;</span>
      <input id='titleInventory' type='number' placeholder='0-100'  name='inventory'> 
      <br>
      <br>
      <span>User Email</span>
      <span>&nbsp;</span>
      <input id='userEmail' type='text' placeholder='Valid email' name='email'> 
      <br>
      <br>
      <button id='submitInventory' type='submit' > Sbumit</button>
    </form>
    </div>

    <div class='form'>
    <h1>Return a movie</h1>
    <form id='rentMovie' name='rentmovie' method='post' action='/submitreturn'>
      <span>Movie title</span>
      <span>&nbsp;</span>
      <input id='movieTitle' type='text' placeholder='Movie title' name='title'> 
      <br>
      <br>
      <span>Inventory</span>
      <span>&nbsp;</span>
      <input id='titleInventory' type='number' placeholder='0-100'  name='inventory'> 
      <br>
      <br>
      <span>User Email</span>
      <span>&nbsp;</span>
      <input id='userEmail' type='text' placeholder='Valid email' name='email'> 
      <br>
      <br>
      <button id='submitInventory' type='submit' > Sbumit</button>
    </form>
  </div>

    <div class='form'>
    <h1>Add / Remove a movie to the list</h1>
    <form id='addMovie' name='addmovie' method='post' action='/addmovietodb'>
      <span>Movie title</span>
      <span>&nbsp;</span>
      <input id='movieTitle' type='text' placeholder='Movie title' name='title'> 
      <br>
      <br>
      <span>Inventory</span>
      <span>&nbsp;</span>
      <input id='titleInventory' type='number' placeholder='0-100' name='inventory'> 
      <br>
      <br>
      <button id='submitInventory' type='submit' > Sbumit</button>
    </form>
  </div>
  <br>
  <br>
</section>
  
</main>
  </body>
</html>
