<!DOCTYPE html>
<html>
  <head>
    <title>Movies list</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='shortcut icon' href='/images/favicon.ico'/>
  </head>
  <body>
    <main>
      <nav>
        <div class='dropdown toggle'>
          <input id='t1' type='checkbox' >
          <label for='t1'>BI Querys </label>
          <ul>
            <li><a method='get' action='/movies' href='/movies'>Movies In Stock </a></li>
            <li><a method='get' action='/topTenMovies' href='/topTenMovies'>Top Ten Movies </a></li>
            <li><a method='get' action='/topTenUsers' href='/topTenUsers'>Top Ten Users </a></li>
            <li><a method='get' action='/mostActiveUser'href='/mostActiveUser' >Most Active User </a></li>
            <li><a method='get' action='/topRentedMovie'href='/topRentedMovie' >Top Rented Movie </a></li>
          </ul>

        </div>
      </nav>
      <div class='querysResults'>
          <div class='topten'>
        <h1><%= title %></h1>
        <h3><%= status %></h3>
        <ul id='queryUl'>
        <% for( var index in moviesList ){  %>
        <li>  <%= moviesList[index]%> </li>
        <% } %>
        </ul>
      </div>
        
      </div> 
      <section>
    
    <div class='form'>
    <h1>Rent a movie</h1>
    <form id='rentMovie' name='rentmovie' method='post' action='/submitrent' onsubmit='return checkForm(id)'>
      <span>Movie title</span>
      <span>&nbsp;</span>
      <input id='movieTitle' type='text' placeholder='Movie title' name='title' required> 
      <br>
      <br>
      <span>Inventory</span>
      <span>&nbsp;</span>
      <input id='titleInventory' type='number' placeholder='0-100'  name='inventory' required> 
      <br>
      <br>
      <span>User Email</span>
      <span>&nbsp;</span>
      <input id='userEmail' type='text' placeholder='Valid email' name='email' required> 
      <br>
      <br>
      <button id='submitInventory' type='submit' > Submit</button>
      <span class='error'></span>
    </form>
    </div>

    <div class='form'>
    <h1>Return a movie</h1>
    <form id='rentMovie' name='rentmovie' method='post' action='/submitreturn' onsubmit='return checkForm(id)'>
      <span>Movie title</span>
      <span>&nbsp;</span>
      <input id='movieTitle' type='text' placeholder='Movie title' name='title' required> 
      <br>
      <br>
      <span>Inventory</span>
      <span>&nbsp;</span>
      <input id='titleInventory' type='number' placeholder='0-100'  name='inventory' required> 
      <br>
      <br>
      <span>User Email</span>
      <span>&nbsp;</span>
      <input id='userEmail' type='text' placeholder='Valid email' name='email' required> 
      <br>
      <br>
      <button id='submitInventory' type='submit' > Submit</button>
      <span class='error'></span>
    </form>
  </div>

    <div class='form'>
    <h1>Add / Remove a movie to the list</h1>
    <form id='addMovie' name='addmovie' method='post' action='/addmovietodb' onsubmit='return checkForm(id)'>
      <span>Movie title</span>
      <span>&nbsp;</span>
      <input id='movieTitle' type='text' placeholder='Movie title' name='title' required> 
      <br>
      <br>
      <span>Inventory</span>
      <span>&nbsp;</span>
      <input id='titleInventory' type='number' placeholder='0-100' name='inventory' required> 
      <br>
      <br>
      <button id='submitInventory' type='submit' > Submit</button>
      <span class='error'></span>
    </form>
  </div>
  <br>
  <br>
</section>
  
</main>
<script src="/socket.io/socket.io.js"></script>
<script>
  let socket = io();

function checkForm(id){
  let formId = document.getElementById(id);
  let titleTest = formId.querySelector('input[name="title"]').value;
  /* email validation - deactivated on testing.
  let emailTest = formId.querySelector('input[name="email"]');
  if(emailTest != undefined){
    let re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    let res =  re.test(String(emailTest.value).toLowerCase());
    console.log('email is: '+ res);
    formId.querySelector('.error').innerHTML = 'cant use this email: ' + res;
  }
  */
  socket.emit('form data', titleTest);
  if(titleTest === ' ' || titleTest === ''){
    formId.querySelector('.error').innerHTML = 'cant use this movie title';
    return false;
  };
};

socket.on('form data', function(d){
  let ul = document.getElementById('queryUl');
  let li = document.createElement('li');
  li.appendChild(document.createTextNode(d));
  ul.appendChild(li)
});





</script>
  </body>
</html>
