<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form id='addUser' name='adduser' method='post' action='/adduser'>
      <span>Name</span>
      <span>&nbsp;</span>
      <input id='userName' type='text' placeholder='User name' name='name'> 
      <br>
      <br>
      <span>Email</span>
      <span>&nbsp;</span>
      <input id='userEmail' type='text' placeholder='Valid email' name='email'> 
      <br>
      <br>
      <span>Password</span>
      <span>&nbsp;</span>
      <input id='userPassword' type='text' placeholder='Strong Password' name='password'> 
      <br>
      <br>
      <button id='submitUser' type='submit' > Sbumit</button>
    </form>
  </body>
</html>
