<!DOCTYPE html>
<html>
  <head>
    <title>User profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> Hi <%= email %> </h1>
    <ul>
    <% for( var index in userslist ){  %>
    <li> User Movies:  <%= user[index].name %>  Email: <%=userslist[index].email %> </li>
  <% } %>
  </ul>
  </body>
</html>
