:root {
  --c1: #8b7add;
  --c2: #96af14;
  --c3: #b14834;
  --c4: #ffaf83;
  --c5: #3ecf9a;
  --c6: #fd88d5;
  --c7: #32a82b;
  --c8: #e74ca8;
  --tc: var(--tcl);
  /*Text color*/
  --tb: var(--tbl);
  /*Background color*/
  --tbi: var(--tbil);
  /*Input background color*/
  --te: var(--tel);
  /*Element background color*/
  --tec: var(--tecl);
  /*Chat maseges element background color*/
  --tcc: var(--tccl);
  /*Chat element text color*/
  --tbc: var(--tbcl);
  /*Chat element background color*/
  --tbic: var(--tbicl);
  /*Chat input element background color*/
  /*Light side*/
  --tcl: #3f362d;
  --tbl: #f7f7f7;
  --tbil: white;
  --tel: white;
  --tecl: #e5ddd5;
  --tccl: #7f868a;
  --tbcl: #efefef;
  --tbicl: white;
  /*Dark side*/
  --tcd: #f7f7f7;
  --tbd: #1e272f;
  --tbib: #f7f7f7;
  --ted: #2a3f54;
  --tecd: #3f362d;
  --tccd: #cecdcd;
  --tbcd: #2a3f54;
  --tbicd: #1e272f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-align: left;
  background-color: var(--tb);
  text-rendering: optimizeLegibility;
  height: auto;
  width: auto;
}

.title,
title {
  text-transform: capitalize;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

input::placeholder {
  color: var(--tcc);
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-space {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.mainPage {
  display: flex;
  flex-direction: row;
  transition: all .2s ease;
  overflow-x: auto;
  overflow-y: auto;
  color: var(--tc);
  height: 100vh;
  width: 100vw;
}


.navColumn {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  flex: 1 1 15%;
  align-self: stretch;
  background-color: rgb(42, 63, 84);
  transition: 300ms ease;
  font-size: medium;
  max-width: 200px;
}

.navColumn a {
  color: whitesmoke;
  text-decoration: none;
}

.navLogo {
  margin: 0;
  background-color: #0802026b;
  justify-content: space-between;
  padding: 5%;
  flex-direction: row-reverse;
}



.navLogo h1 {
  margin: 4% 0%;
}

.logoImg {
  display: flex;
  margin: 0;
  width: 4vh;
}

.userNameTitle {
  justify-content: flex-start;
  margin: 0;
  text-transform: capitalize;
}

.userNameTitle h2 {
  justify-content: flex-start;
  margin: 4% 5%;
}

.navButtons {
  justify-content: flex-start;
  margin: 4% 5%;
}

.navButtons h2 {
  margin: 10% 0;
  font-size: 100%;
}

.navButtons ul {
  list-style: none;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  text-align: start;
}

.navButtons li {
  cursor: pointer;
  list-style: none;
  margin-top: 1rem;
  border-bottom-color: #e4e4e4;
  border-bottom-style: solid;
  transition: 0.1s ease-in-out;
}

.navButtons li:hover {
  border-bottom-color: #a525a5;
}

.navButtons li:active {
  border-bottom-color: #0e7275;
  transition: 0.1s linear;
}

.mainContent {
  display: flex;
  flex: 1 1 80%;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  overflow-x: auto;
}

.mainContent::-webkit-scrollbar {
  width: 3px;
  background-color: #00000000;
}

.mainContent::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 3px #aeb5b9ab;
  border-radius: 2px;
}

.resultsPanel {
  display: flex;
  flex-flow: row wrap;
  overflow-x: auto;
  justify-content: center;
  align-items: start;
  width: 100%;
  height:100%;
  backface-visibility: visible;
  background-position: center;
  background-size:50%;
  background-repeat:no-repeat;

}

.queryResults {
  display: flex;
  flex-direction: column;
  background-color: var(--te);
  flex-wrap: wrap;
  margin: 2% 3%;
  padding: 2% 3%;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
  border-radius: 0.3rem;
  text-overflow: ellipsis;
}

.queryResults h2{
  margin:5% 0;
}
.queryResults h3{
  font-size:medium;
}

.navMenu {
  display: none;
  flex-basis: 10%;
  margin: 0;
  width: 100%;
  z-index: 1;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.userNameMenu {
  text-transform: capitalize;
}

.inventoryTabBox {
  display: flex;
  flex-direction: column;
  background-color: var(--te);
  padding: 2% 3%;
  margin: 2% 3%;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
  border-radius: 0.3rem;
}
.inventoryTabBox h2{
  margin: 5% 0;
}

.queryResults ul {
  list-style: none;
  padding-left: 0;
}

table,
table tr {
  border-bottom: solid;
  border-bottom-color: rgb(218, 220, 224);
  border-bottom-width: 1px;
  border-collapse: collapse;
  border-spacing: 1px;
  font-size: medium;
}

table tr td:nth-child(1) {
  text-align: start;
  overflow-wrap: break-word;
}

table tr td {
  text-align: center;
}

table tr th {
  text-transform: capitalize;
}

.topTen {
  padding: 2px 1px;
  max-width: 96vw;
}

.navTab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tabNavButton {
  justify-self: center;
  align-self: center;
  text-overflow: clip;
  border-bottom-style: solid;
  border-bottom-color: #adb2b5;
  cursor: pointer;
  margin: 0 0.3rem;
}

.tabNavButtonActive {
  border-bottom-color: #a525a5;
  transition: 0.1s linear;
}

.tabNavButton:hover {
  border-bottom-color: #a525a5;
}

.tabNavButton::after {
  border-bottom-color: #0e7275;
  transition: 0.1s linear;
}

.tabBox {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentTab {
  display: flex;
}

.contentTab input,
.contentTab button,
.contentTab a {
  display: flex;
  align-items: center;
  margin-bottom: 0.85rem;
  line-height: 1.5rem;
  box-shadow: none;
  max-width: 100%;
}

.contentTab input {
  width: 100%;
  max-width: 16rem;
  border-radius: 0.3rem;
  border-style: solid;
  border-width: 1px;
  color: var(--tc);
  background-color: var(--tbi);
  border-color: rgb(218, 220, 224);
  padding: 0.2rem 1rem;
}

.contentTab form {
  max-width: 100%;
}

.stripBox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.submitButton {
  margin: 0;
  background-color: rgb(26, 115, 232);
  border-radius: 0.3rem;
  border: none;
  color: white;
  padding: 0.1rem 1.3rem;
  cursor: pointer;
}



.chatMessagesBox::-webkit-scrollbar {
  width: 3px;
  background-color: #00000000;
}

.chatMessagesBox::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 3px #aeb5b9ab;
  border-radius: 2px;
}

.chatUsersOnline::-webkit-scrollbar {
  width: 3px;
  background-color: #00000000;
}

.chatUsersOnline::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 3px #aeb5b9ab;
  border-radius: 2px;
}

.chatFlex {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  flex-basis: 100%;
  background-color: var(--tbc);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

.chatLiveBox {
  display: flex;
  position: fixed;
  max-height: 40vh;
  min-height: 40vh;
  width: 50vw;
  right: 6%;
  bottom: 5%;
  transition: 200ms ease;
}

.chatLiveBoxMini {
  display: flex;
  position: fixed;
  max-height: 20vh;
  min-height: 20vh;
  width: 40vw;
  right: 6%;
  bottom: 5%;
  transition: 200ms ease;
  text-rendering: optimizeLegibility;
}

.chatLiveBoxMax {
  display: flex;
  position: fixed;
  max-height: 100vh;
  min-height: 100vh;
  width: 100vw;
  right: 0%;
  bottom: 0%;
  transition: 200ms ease;
  text-rendering: optimizeLegibility;
  z-index:3;
}

.chatLiveBoxMax .chatUsersOnline {
  flex: 1 1 auto;
}

.chatLiveBoxDot {
  display: none;
  position: fixed;
  right: 5%;
  bottom: 5%;
  transition: 200ms ease;
}

.chatLogoButton {
  position: fixed;
  display: block;
  width: 6.5vw;
  max-width: 40px;
  height: auto;
  right: 3%;
  bottom: 0%;
}

.chatLogoButtonDot {
  fill: #9da3a4;
}

.changeDot .chatLogoButtonDot {
  fill: rgb(23, 134, 23);
}

.chatLiveBoxMini h2 {
  font-size: 83%;
}

.chatLiveBoxMini h3 {
  font-size: 87%;
  padding-left: 0;
}

.chatLiveBoxMini p {
  font-size: 82%;
}

.chatLiveBoxMini .chatUsersOnline {
  display: none;
}

.minimize {
  display: flex;
  flex-basis: 95%;
  flex-direction: row;
  align-content: stretch;
  color: var(--tc);
  overflow-x: hidden;
}

.chatInputDiv {
  margin: 0.85rem 0rem;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--tbc);
}

.chatInputTextBox {
  flex-basis: 85%;
  display: flex;
  border-style: solid;
  border-radius: 21px;
  border-color: var(--tbic);
  background-color: var(--tbic);
  color: var(--tc);
  border-width: 1px;
  box-shadow: none;
  padding: 9px 12px 11px 12px;
  font-size: 1rem;
  font-weight: normal;
  line-height: 20px;
  min-height: 20px;
}

.chatSendBox {
  display: flex;
  flex-basis: 10%;
  border-style: none;
}

.chatSendBox:visited {
  border-style: none;
  border-color: #efefef;
}

.chatSend {
  margin: auto;
  width: 30px;
  height: 30px;
  fill: #9da3a4;
}

.chatButtons {
  z-index: 1;
  font-weight: 800;
  position: fixed;
  text-align: center;
  margin: auto;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.14);
  right: 6%;
  transition: 200ms ease;
  padding: 0 0 4px 0;

}


.chatMinimize {
  font-weight: 1200;
  padding: 0 12px 0px 10px;

}

.chatMinimizeFromMax {
  font-weight: 1200;
  right: 1%;
  top: 1%;
  padding: 0 12px 0px 10px;

}

.chatEnlarge {
  right: 6%;
  padding: 0 6px 2px 6px;
}

.chatMessages {
  flex: 1 1 100%;
  background-color: var(--tec);
  overflow-y: auto;
  list-style: none;
  display: flex;
  flex-flow: row;
}

.chatMessagesBox {
  flex: 1 1 70%;
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow-y: auto;
}

.chatUl {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.chatUsersOnline {
  flex: 1 1 30%;
  background-color: var(--te);
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.chatMessages h3 {
  padding: 0 0.3rem;
  margin: 0.22rem 0;
  color: var(--tcc);
}

.chatUsersOnline h3 {
  padding-left: 0.5rem;
  margin: 0.22rem 0;
  text-transform: capitalize;
}

.chatUsersUl {
  list-style: none;
  padding-left: 0;
}

.chatInputTextBox ::before {
  color: var(--tcc);
}

.chatInputTextBox ::after {
  color: var(--tcc);
}

.newMessageLi {
  font-size: 14.2px;
  line-height: 19px;
  color: var(--tc);
  padding: 2px 8px 3px 10px;
  background-color: var(--te);
  margin: 0.4rem 1rem;
  border-radius: 0px 7.5px 7.5px 7.5px;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  width: fit-content;
}

.newMessageLi h3 {
  flex-wrap: wrap;
  margin: 0.1rem;
  padding-left: 0;
  text-transform: capitalize;
}

.newMessageLi p {
  margin: 0.1rem;
  margin-left: 0.2rem;
  flex-wrap: wrap;
}

.menuLogo {
  z-index: 1;
}

.menuContainer {
  display: inline-block;
  cursor: pointer;
}

.menuBar1,
.menuBar2,
.menuBar3 {
  width: 30px;
  height: 5px;
  background-color: var(--tc);
  margin: 4px 0;
  transition: 0.4s;
  -webkit-filter: invert(50%);
  filter: invert(50%);
  border-radius: 2px;
}

.change .menuBar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .menuBar2 {
  opacity: 0;
}

.change .menuBar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.flex-show {
  display: flex;
}

.hidden {
  display: none;
}

@media(max-width:1050px) {
  .mainContent {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .queryResults {
  
    transition: 0.3s ease-in-out;
  }
}

@media(max-width:600px) {
  .chatLiveBox {
    max-height: 15rem;
    min-height: 15rem;
    width: 90vw;
    font-size: 70%;
  }
  .chatLiveBoxMini {
    max-height: 20vh;
    min-height: 8rem;
    width: 90vw;
  }
  .chatInputTextBox {
    font-size: 0.8rem;
  }
  .newMessageLi h3 {
    font-size: 80%;
  }
  .chatLiveBoxMax {
    transition: none;
  }
  .chatLiveBoxMax .chatUsersOnline {
    display: none;
  }
  .mainContent {
    margin-top: 0;
  }
  .navMenu {
    display: flex;
  }
  .navColumn {
    display: none;
    flex-basis: 0%;
    transition: none;
  }
  .navButtons {
    margin: 0.5vw 2vw;
  }
  .navColumn h1 {
    font-size: medium;
  }
  .navColumn h2 {
    font-size: small;
  }
  .navLogo{
    padding:8% 5%;
  }
  .logoImg {
    width: 9vw;
    max-width: 1em;
    max-height: 1em;
  }
  .userName {
    display: none;
  }
  .change .mainContent {
    flex-basis: 80%;
  }
  .change .navColumn {
    display: flex;
    flex-basis: 20%;
    transition: none;
    font-size: small;
  }
  .resultsPanel {
    flex-basis: 85%;
    align-items: center;
    justify-content:start;
    flex-flow:column;
  }
  .inventoryTabBox{
    display:block;
  }
  
  .topTen h2 {
    font-size: 1.3rem;
	}
	.topTen h3{
		margin: 2% 0;
		font-size: 90%;

	}
  .tabNavButton {
    font-size: smaller;
  }
  .queryResults {
    display:block;
    transition: none;
    max-width: 96vw;
    margin: 2vw;
  }
  table {
    font-size: 3.5vmin;
  }
}

@media(pointer:none),
(pointer:coarse) {
  .resultsPanel {
    flex-basis: 90%;
  }
  .chatLiveBox {
    transition: none;
  }
}

@media (orientation:landscape) and (pointer:coarse),
(pointer:none) {
  
  .chatLiveBox {
    transition: none;
    max-height: 15rem;
    min-height: 15rem;
    width: 90vw;
    font-size: 70%;
  }
  .chatLiveBoxMini {
    max-height: 20vh;
    min-height: 8rem;
    width: 80vw;
  }
  .chatInputTextBox {
    font-size: 0.8rem;
  }
  .chatLogoButton {
    right: 1%;
    width: 10vh;
    max-width: 40px;
  }
  .chatInputDiv {
    margin: 0.25rem 0rem;
  }
  .mainContent {
    margin-top: 0;
  }
  .navMenu {
    display: flex;
  }
  .navColumn {
    display: none;
    flex-basis: 0%;
    transition: none;
  }
  .navButtons {
    margin: 2vh 2vh;
  }
  .navButtons li {
    margin: 3.3vh 0;
    font-size: smaller;
  }
  .navColumn h1 {
    font-size: 1.5em;
  }
  .navColumn h2 {
    font-size: small;
    margin: 2vh 0;
  }
  .logoImg {
    max-width:1.5em;
    max-height:1.5em;
  }
  .userName {
    display: none;
  }
  .change .mainContent {
    flex-basis: 80%;
  }
  .change .navColumn {
    display: flex;
    flex-basis: 20%;
    transition: none;
    font-size: small;
  }
  .resultsPanel {
    align-items: center;
  }
  table {
    font-size: 5vmin;
  }
}