body {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  margin: 0;
  font-weight: 400;
  line-height: 1.4;
  text-align: left;
  background-color: #f7f7f7;
  text-rendering: optimizeLegibility;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

#mainPage {
  display: flex;
  flex-direction: row;
  transition: all .2s ease;
  overflow-x: hidden;
  overflow-y: hidden;
  color: rgb(69, 69, 69);
}

.navColumn {
  display: flex;
  flex-direction: column;
  color: whitesmoke;
  flex: 1 1 20%;
  align-self: stretch;
  background-color: rgb(42, 63, 84);
  box-sizing: border-box;
}

.logoImg {
  display: flex;
  width: 41px;
  height: 41px;
}

#userNameTitle {
  justify-content: flex-start;
  margin: 0 2rem;
}

.navButtons {
  justify-content: flex-start;
  margin: 2rem;
}

.navButtons h2 {}

.navButtons ul {
  list-style: none;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  text-align: start;
}

.navButtons li {
  cursor: pointer;
  list-style: none;
  margin-top: 1rem;
  border-bottom-color: #e4e4e4;
  border-bottom-style: solid;
  transition: 0.3s ease-in-out;
}

.navButtons li:hover {
  border-bottom-color: #a525a5;
}

.navButtons li:active {
  border-bottom-color: #0e7275;
  transition: 0.1s linear;
}

.mainContent {
  display: flex;
  flex: 1 1 80%;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 2rem;
  flex-wrap: wrap;
}

@media(max-width:1050px) {
  .mainContent {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  #querysResults {
    margin-top: 2rem;
  }
  
}



#inventoryTab {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: white;
  flex-wrap: wrap;
  padding: 2vh 5vw;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
  border-radius: 0.3rem;
}

#querysResults {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: white;
  flex-wrap: wrap;
  padding: 0.5vh 5vw;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
  border-radius: 0.3rem;
}

#querysResults ul {
  list-style: none;
  padding-left: 0;
}



@media(max-width:600px) {
  #mainPage {
    flex-direction: column;
   
  }

  #querysResults {
    display:none;
    }

}



#navTab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tabNavButton {
  justify-self: center;
  align-self: center;
  box-sizing: border-box;
  flex-basis: 30%;
  border-bottom-style: solid;
  border-bottom-color: #adb2b5;
  cursor: pointer;
}

#inventoryTabA {
  display: flex;
}

#inventoryTabB {
  display: none;
}

#inventoryTabC {
  display: none;
}

.tabBox {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#contentTab {
  display: flex;
}

#contentTab input,
#contentTab button,
#contentTab a {
  display: flex;
  align-items: center;
  margin-bottom: 0.85rem;
  line-height: 1.5rem;
  box-sizing: border-box;
  box-shadow: none;
  max-width: 100%;
}

#contentTab input {
  width: 16rem;
  border-radius: 0.3rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(218, 220, 224);
  padding: 0.2rem 1rem;
}

#contentTab form {
  max-width: 100%;
}

.stripBox {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.submitButton {
  margin: 0;
  background-color: rgb(26, 115, 232);
  border-radius: 0.3rem;
  border: none;
  color: white;
  padding: 0.1rem 1.3rem;
  cursor: pointer;
}

#chatLiveBox {
  display: flex;
  align-content: stretch;
  flex-direction: row;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
  overflow-x: hidden;
}

#chatFlex {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  flex-basis: 100%;
  background-color: #efefef;
}

.chatLiveBox {
  position: fixed;
  max-height: 40vh;
  min-height: 40vh;
  width: 50vw;
  right: 5%;
  bottom: 5%;
  transition: 1000ms ease;
}

.chatLiveBoxMini {
  position: fixed;
  max-height: 20vh;
  min-height: 20vh;
  width: 35vw;
  right: 10%;
  bottom: 0;
  transition: 1000ms ease;
  text-rendering: optimizeLegibility;
}



.chatLiveBoxMini h2 {
  font-size: 80%;
}

.chatLiveBoxMini h3 {
  font-size: 80%;
  padding-left: 0;
}

.chatLiveBoxMini p {
  font-size: 80%;
}

#minimize {
  display: flex;
  flex-basis: 85%;
  flex-direction: row;
  align-content: stretch;
  color: #404040;
  overflow-x:hidden;
}

#chatInputDiv {
  margin: 0.85rem 0rem;
  display: flex;
  flex-basis: auto;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #efefef;
}

#chatInput {
  flex-basis: 85%;
  display: flex;
  border-style: solid;
  border-radius: 21px;
  border-color: white;
  background-color: white;
  border-width: 1px;
  box-shadow: none;
  padding: 9px 12px 11px 12px;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: normal;
  line-height: 20px;
  min-height: 20px;
}

#chatSend {
  box-sizing: border-box;
  display: flex;
  flex-basis: 10%;
  border-style: none;
  background-color: #efefef;
}

#chatSend:visited {
  border-style: none;
  border-color: #efefef;
}

.chatSend {
  margin: auto;
  width: 30px;
  height: 30px;
  fill: #9da3a4;
}

#chatButtons {
  z-index: 1;
  position: relative;
}

#chatButtonToggle {
  position: fixed;
  transition: 10ms;
  font-weight: 800;
  font-size: 1rem;
  text-align: center;
  margin: auto;
  box-sizing: border-box;
  background-color: #9da3a4;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.14);
  transition: 1000ms ease;
}

.chatMinimize {
  font-weight: 1200;
  right: 5%;
  padding: 0 12px 0px 12px;
}

.chatEnlarge {
  right: 10%;
  padding: 0 6px 2px 6px;
}

.chatMessages {
  flex: 1 1 100%;
  background-color: #e5ddd5;
  overflow-y: auto;
  list-style: none;
  display: flex;
  flex-flow: row;
}

#chatMessagesBox {
  flex: 1 1 70%;
  display: flex;
  flex-direction: column;
  list-style: none;
  overflow-y: auto;
}

#chatUl {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

.chatUsersOnline {
  flex: 1 1 30%;
  background-color: rgb(255, 255, 255);
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.chatMessages h3 {
  padding-left: 0.5rem;
  margin: 0.22rem 0;
  color: #7f868a;
}

.chatUsersOnline h3 {
  padding-left: 0.5rem;
  margin: 0.22rem 0;
}

#chatUsersUl {
  list-style: none;
  padding-left: 0;
}

.chatInputTextBox ::before {
  color: #a3a3a3;
}

.chatInputTextBox ::after {
  color: #4b4b4b;
}

.newMessageLi {
  font-size: 14.2px;
  line-height: 19px;
  color: #262626;
  padding: 2px 3px 3px 10px;
  box-sizing: border-box;
  background-color: white;
  margin: 0.2rem 1rem;
  border-radius: 0px 7.5px 7.5px 7.5px;
  box-shadow: 0 1px 0.5px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.newMessageLi h3 {
  flex-wrap: wrap;
  margin: 0.1rem;
  padding-left: 0;
}

.newMessageLi p {
  margin: 0.1rem;
  margin-left: 0.2rem;
  flex-wrap: wrap;
}

@media(max-width:600px) {
  .chatLiveBox{
    max-height: 30vh;
    min-height: 30vh;
    width: 90vw;
    font-size:70%;

  }
  .chatLiveBoxMini  {

    width: 50vw;
  }
  #chatInput{

    font-size:0.8rem;
  }
  .newMessageLi h3{
    font-size:80%;
  }

}


.newUserLi {}

:root {
  --c1: #8b7add;
  --c2: #96af14;
  --c3: #b14834;
  --c4: #ffaf83;
  --c5: #3ecf9a;
  --c6: #fd88d5;
  --c7: #32a82b;
  --c8: #e74ca8;
}