body {
  padding: 30px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color:black;
  color:white;
}

a {
  color: #00B7FF;
}

.form {
  width: 300px;
  position: relative;
  display: inline-block;

}

button{
  border-radius: 2px;
  box-shadow: 0 6px 5px -5px rgba(0,0,0,0.3);
}
.querysResults{
  margin-top: 30px;
  background: rgba(94, 94, 94, 0.548);
  padding: 0 12px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.15);
}
h2 {
  color: #FFF;
}
h4 {
  color: #666;
}

.topten{
  position: relative;
  display: inline-block;
}
p {
  color: #333;
  font-size: 13px;
}
main {
  margin: 20px auto;

}
section {
  margin-top: 30px;
  background: rgba(70, 70, 70, 0.609);
  padding: 0 12px;
  box-shadow: 0 3px 5px rgba(0,0,0,0.15);
}

.dropdown {

  width: 190px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  z-index:1;
  margin-top: 2px;
}
.dropdown.toggle > input {
  display: none;
}
.dropdown > a, .dropdown.toggle > label {
  border-radius: 2px;
  box-shadow: 0 6px 5px -5px rgba(0,0,0,0.3);
}
.dropdown > a::after, .dropdown.toggle > label::after {
  content: "";
  float: right;
  margin: 15px 15px 0 0;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #CCC;
}
.dropdown ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  box-shadow: 0 6px 5px -5px rgba(0,0,0,0.3);
  overflow: hidden;
}
.dropdown a, .dropdown.toggle > label {
  display: block;
  padding: 0 0 0 10px;
  text-decoration: none;
  line-height: 40px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  color: #999;
  background-color: #FFF;
}
.dropdown li {
  height: 0;
  overflow: hidden;
  transition: all 500ms;
}
.dropdown.hover li {
  transition-delay: 300ms;
}
.dropdown li:first-child a {
  border-radius: 2px 2px 0 0;
}
.dropdown li:last-child a {
  border-radius: 0 0 2px 2px;
}
.dropdown li:first-child a::before {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #FFF;
  margin: -10px 0 0 30px;
}
.dropdown a:hover, .dropdown.toggle > label:hover, .dropdown.toggle > input:checked ~ label {
  background-color: #EEE;
  color: #666;
}
.dropdown > a:hover::after, .dropdown.toggle > label:hover::after, .dropdown.toggle > input:checked ~ label::after {
  border-top-color: #AAA;
}
.dropdown li:first-child a:hover::before {
  border-bottom-color: #EEE;
}
.dropdown.hover:hover li, .dropdown.toggle > input:checked ~ ul li {          
  height: 40px;
}
.dropdown.hover:hover li:first-child, .dropdown.toggle > input:checked ~ ul li:first-child {
  padding-top: 15px;
}



#chatLiveBox{
  position:fixed;
  max-height: 25vh;
  min-height:25vh;
  width: 35vw;
  right:10%;
  bottom:0;
  background-color:rgba(92, 105, 105, 0.809);
  transition:1000ms ease;

}
#chatLiveBox:target{
  position:fixed;
  max-height:30vh;
  min-height:60px;
  width: 35vw;
  right:10%;
  bottom:0;
  background-color:rgba(92, 105, 105, 0.809);
  transition:1000ms ease;

}

#chatButtons{
  z-index:1;
  position:fixed;
  right:13%;
}
#chatMinimize{
  transition:10ms;
}

#chatEnlarge{ 
  transition:10ms;
}

#chatMessages{
  position:absolute;
  height:63%;
  width:100%;
  padding-top:0%;
  padding-left:3%;
  overflow-y:auto;
  list-style:none;


}
#chatMessages:target{
  position:absolute;
  height:25vh;
  width:100%;
  padding-top:0%;
  padding-left:3%;
  overflow-y:auto;
  list-style:none;

}
#chatUl{
  list-style:none;
  display:inline;
  padding:0;
}

.newMessageLi{
}

#chatInputDiv{
  position: absolute;
  height:20px;
  width:100%;
  bottom:0%;
}

#chatInput{
  position:absolute;
  height:100%;
  width:80%;
  padding:0;
  border-width:0;
}

#chatSend{
  position:absolute;
  height:100%;
  width:20%;
  left:80%;
  padding: 1px, 1px;
}
